<aside class="abroad aside section">
    <div class="section-inner">
        <h2 class="heading">Abroad</h2>
        <div class="content">
            <div class="item">
                <h4 style="text-align:left;float:left;">Spain</h4>
                <h5 style="text-align:left;float:right;">Spring 2016</h5>
                <hr style="clear:both;"/>

                <p>
                    Living in Spain was an amazing experience. I lived with a Spanish family who didn't speak a bit of
                    English. Two of my classes were actually taught in Spanish, and I regularly met with Spaniards so we
                    could practice Spanish and English.
                </p>
                <br>
                <h4 style="text-align:left;float:left;">Europe</h4>
                <h5 style="text-align:left;float:right;">Summer 2016</h5>
                <hr style="clear:both;"/>

                <p>
                    I decided to travel that summer instead of doing someting else  I decided to travel that summer instead of doing someting else I decided to travel that summer instead of doing someting else I decided to travel that summer instead of doing someting else I decided to travel that summer instead of doing someting else I decided to travel that summer instead of doing someting else
                </p>

            </div><!--//item-->
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->