<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Berkeley, US</li>
                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">evanpelle@gmail.com</a></li>
                <li><i class="fa fa-phone"></i><span class="sr-only">Website:</span><a href="#">(760) 792-0562</a></li>
            </ul>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//aside-->