<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Education</h2>
        <div class="content">
            <div class="item">
                <h3 class="title"><i class="fa fa-graduation-cap"></i> BA Computer Science - UC Berkeley (expected 2017)</h3>

                <h5>Relevant Coursework:</h5>
                <ul>
                    <li>Structure and Interpretation of Computer Programs</li>
                    <li>Data Structures and Advanced Programming</li>
                    <li>Machine Structures</li>
                    <li>Computer Security</li>
                    <li>Efficient Algorithms and Intractable Problems</li>
                    <li>Introduction to the Internet</li>
                    <li>Artificial Intelligence</li>
                </ul>

            </div><!--//item-->
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->