{% include 'modals/meter_modal.html' %}
{% include 'modals/android_modal.html' %}
{% include 'modals/rock_paper_scissors_modal.html' %}

<aside class="list music aside section">
    <div class="section-inner">
        <h2 class="heading">Other Projects</h2>
        <hr>
        <div class="content latest section projects">
            <div class="item">
                <h3 class="title"> <a  href="#" data-toggle="modal" data-target="#meter-modal">Homemade E-Meter - Got Thetans?</a></h3>
                <p>Measures and graphs your conductance.</p>
                <p><a class="more-link" href="https://github.com/evanpelle/EMeter" target="_blank"><i class="fa fa-external-link"></i> View source</a></p>

            </div>
            <hr>

            <div class="item">
                <h3 class="title"> <a  href="#" data-toggle="modal" data-target="#android-modal">TravelLogger - Android App</a></h3>
                <p>I had an android phone and some free time so I tried getting into some Android development.</p>
                <p><a class="more-link" href="https://github.com/evanpelle/TravelLogger" target="_blank"><i class="fa fa-external-link"></i> View source</a></p>

            </div>

            <hr>

            <div class="item">
                <h3 class="title"> <a  href="#" data-toggle="modal" data-target="#rock-paper-scissors-modal">Rock Paper Scissors</a></h3>
                <p>I was watching <a href="https://www.youtube.com/watch?v=rudzYPHuewc" target="_blank">this</a> video and decided to implement it's rock paper scissors strategy</p>
                <p><a class="more-link" href="https://nameless-lowlands-1367.herokuapp.com/" target="_blank"><i class="fa fa-external-link"></i>Try it out!</a></p>
                <p><a class="more-link" href="https://bitbucket.org/evanpelle/rock-paper-scissors" target="_blank"><i class="fa fa-external-link"></i> View source</a></p>

            </div>


        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->