<aside class="skills aside section">
    <div class="section-inner">
        <h2 class="heading">Skills</h2>
        <hr>
        <div class="content">

            <div class="skillset">
                <ul>
                    <li>
                        <h3 class="skill" data-toggle="tooltip" data-html="true" data-placement="left" title="
                        <ul>
                            <li>used in introductory cs class</li>
                            <li>primary language used in HERE internship</li>
                        </ul>">
                            Python
                        </h3>
                    </li>

                    <li>
                        <h3 class="skill" data-toggle="tooltip" data-html="true" data-placement="left" title="
                        <ul>
                            <li>learned very in-depth in data-structures course</li>
                            <li>used in couple of projects I made fall 2014 and summer 2014</li>
                        </ul>">
                            Java
                        </h3>
                    </li>

                    <li>
                        <h3 class="skill" data-toggle="tooltip" data-html="true" data-placement="left" title="
                        <ul>
                            <li>self-taught </li>
                            <li>favorite language</li>
                        </ul>">
                            Scala
                        </h3>
                    </li>

                    <li>
                        <h3 class="skill" data-toggle="tooltip" data-html="true" data-placement="left" title="
                            <ul>
                                <li>Used very frequently in HERE internship</li>
                            </ul>">
                            Unix Command Line
                        </h3>
                    </li>

                    <li>
                        <h3 class="skill" data-toggle="tooltip" data-html="true" data-placement="left" title="
                            <ul>
                                <li>familiar with html, css, javascript, jquery, bootstrap</li>
                                <li>hand-coded this website from bootstrap template</li>
                            </ul>">
                            Front-End Web Development
                        </h3>
                    </li>

                    <li>
                        <h3 class="skill" data-toggle="tooltip" data-html="true" data-placement="left" title="
                            <ul>
                                <li>Worked Mostly back-end in HERE internship</li>
                                <li>familiar with Restful API's</li>
                                <li>Some experience with Flask and Ruby on Rails</li>
                                <li>Used Chef in HERE internship to automate server deployment</li>
                            </ul>">
                            Back-End Web Development
                        </h3>
                    </li>


                </ul>
            </div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->