<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Android App {% endblock %}

{% block id %}android-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/android.jpg" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <p>
            The plan was to make an a traveling journal app. You can take a picture or write a journal entry, and then
            it remembers the date and location of that entry. Then it would use the google maps api to plot where you went.
        </p>
    </div>
</div>

{% endblock %}