<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Chess Engine in Haskell {% endblock %}

{% block id %}chess-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/chess.jpg" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <p>
            Last fall I wanted to learn functional programming. Almost every morning I would have coffee and teach
            myself Haskell. It took me a month or two just to learn the basics.
            <br>
            <br>
            Everything was backward from what I was used to, it seemed like none of what I learned from other
            languages carried over to Haskell. I originally wanted to write a game in Haskell, but there was
            very little support for game development, so I decided to learn Scala and write a game in that.
        </p>
    </div>
</div>

{% endblock %}