<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Homemade E-Meter {% endblock %}

{% block id %}meter-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/meter.png" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <p>
            I live in a co-op (a big house with 30 other students), and each semester we have an event called
            Room to Room, where everyone decorates their room with a theme. Last fall I decided to
            do a Scientology themed room. I wore aviator glasses and pretended to be Tom Cruz.
            <br>
            <br>
            I built a homemade "E-Meter" that measures your conductance. I wrapped two beer cans in aluminum foil, and
            then used an Arduino to send 5v across it. You grab a can in each hand and the Arduino measures the voltage
            differential. A servo is connected to the meter, and once the Arduino senses the voltage, the servo swings
            to the right showing a high "Thetan" level (or whatever E-Meters are supposed to read).
            <br>
            <br>
            The Arduino is connected to my laptop via a serial connection. The laptop reads the voltage and when it notices
            a voltage, it activates a warning phrase, something like "warning, electrodermal activity at critical level". Then
            it uses the <a href="https://plot.ly/" target="_blank">plotly</a> api to graph the voltage online.
            <br>
            <br>
            My room had pretty mixed reactions. Some people thought it was the nerdiest thing they've ever seem, while
            some people thought it was like magic. People had a lot of fun figuring out how it worked, and my room
            was voted best in the house.

        </p>

    </div>
</div>

{% endblock %}