<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Homemade E-Meter {% endblock %}

{% block id %}meter-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/meter.png" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <p>
            I live in a co-op (a big house with 30 other students), and each semester we have an event called
            Room to Room, where everyone decorates their room with a theme. Last fall I decided to
            do a Scientology themed room. I wore aviator glasses and pretended to be Tom Cruz.
            <br>
            <br>
            I built a homemade "E-Meter" that measured your conductance. I connected wires to two metal handles
            then used an Arduino to send 5v across it. You would grab a handle with each hand and the Arduino measured the voltage
            differential. A servo was connected to the meter, and once the Arduino sensed a voltage increase, the servo swung
            to the right showing a high "Thetan" level (or whatever E-Meters are supposed to measure).
            <br>
            <br>
            The Arduino was connected to my laptop via a serial connection. When it read
            a voltage increase, it activated a warning phrase, something like "warning, electrodermal activity at critical level". Then
            it used the <a href="https://plot.ly/" target="_blank">plotly</a> api to graph the voltage online.
            <br>
            <br>
            My room had pretty mixed reactions. Some people thought it was the nerdiest thing they've ever seen, while
            some people thought it was like magic. People had a lot of fun figuring out how it worked, and my room
            was voted best in the house.

        </p>

    </div>
</div>

{% endblock %}