<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Rock Paper Scissors {% endblock %}

{% block id %}rock-paper-scissors-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/rock_paper_scissors.jpg" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <p>
            I used the rock paper scissors algorithm from <a href="https://www.youtube.com/watch?v=rudzYPHuewc" target="_blank">this</a>
            video and threw it on a webpage. If you figure out the algorithm, you can beat it every time.
        </p>
    </div>
</div>

{% endblock %}