<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Scala Game {% endblock %}

{% block id %}scala-game-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/game.png" alt="project name" />
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-md-12">
        <p>
            While in Spain I usually had around 3-4 hours of class and 20 minutes of homework a day, so that meant
            I had lots of free time. I spent about 3 hours each weekday working on this project.
            Progress was pretty slow since I completely refactored it about three times.
            I ended up using a kind of <a href="http://www.cakesolutions.net/teamblogs/2011/12/19/cake-pattern-in-depth" target="_blank">
            cake pattern</a> as a form of composition.
        </p>
    </div>
</div>

{% endblock %}