<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Scala Game {% endblock %}

{% block id %}scala-game-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/game.png" alt="project name" />
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-md-12">
        <p>
            While in Spain I usually had around 3-4 hours of class and 20 minutes of homework a day (Spaniards have easy
            lives), so that meant I had lots of free time. I traveled on the weekends, but I spent about 3 hours each
            weekday working on this project. Progress was pretty slow since I completely refactored it about three times.
        </p>
    </div>
</div>

{% endblock %}