<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %}Traverse Services{% endblock %}

{% block id %}traverse-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/traverse_large.png" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
       <p>
           I started learning web development about a year and a half ago. My roommate's friend quit his job to create
           a startup. He was going to a conference and needed a survey webpage, but my roommate (also a cs major) was too
           busy with classes. I picked up some ruby on rails to use models to store the survey answers.
           I ended up storing the answer to each checkbox as a boolean, which was a real pain.
       </p>
    </div>
</div>

{% endblock %}