<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %}Traverse Services{% endblock %}

{% block id %}traverse-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/traverse_large.png" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        this is a test this is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a testthis is a test

    </div>
</div>

{% endblock %}