<!DOCTYPE html>
{% extends "modals/modal_template.html" %}

{% block title %} Yelp Meets Tinder {% endblock %}

{% block id %}yelp-meets-tinder-modal{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive img-center" src="../../static/images/projects/yelp_meets_tinder_large.png" alt="project name" />
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <p>Last year my brother lived in the dorms in Santa Barbara. His roommate came up with this idea.
            Except his plan was to drop out of college and start a business around it.
            I thought that the idea was ridiculous, so I decided to build it as proof.
            Yelp actually has a Python library so using their api was really easy. I threw this together
            in a couple of evenings using flask for the backend.
        </p>

    </div>
</div>

{% endblock %}