<!DOCTYPE html>

<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p>I am a senior at UC Berkeley looking for a full-time software engineering position for after I graduate
                in May 2017. I started coding my senior year of high school and from then on I am almost always learning
                new languages and frameworks, or working on a personal project.
            </p>
        </div><!--//content-->
    </div><!--//section-inner-->
</section><!--//section-->
