<!DOCTYPE html>
<section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">
            <div class="item">
                <h3 class="title">Software Intern - <span class="place"><a href="https://company.here.com/here/" target="_blank">HERE</a></span> <span class="year">(Summer 2015 - Full Time, Fall 2015 - Part Time)</span></h3>
                <p>
                    Worked mainly on FleetSupportTool. Learned a lot about software engineering protocol, and common tools.
                </p>
            </div><!--//item-->
            <div class="item">
                <h3 class="title">Student Assistant - <span class="place"><a href="http://chemistry.berkeley.edu/" target="_blank">College of Chemistry</a></span> <span class="year">(Aug 2013 - Sep 2014)</span></h3>
                <p>
                    Worked unsupervised to conduct building maintenance. Moved a disposed of lab equipment. Communicated
                    with multiple departments in within the College of Chemistry to achieve certain tasks.
                </p>
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</section>  <!--//section-->
