<!DOCTYPE html>
<section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">
            <div class="item">
                <h3 class="title">Software Intern - <span class="place"><a href="https://company.here.com/here/" target="_blank">HERE</a></span> <span class="year">(Summer 2015 - Full Time, Fall 2015 - Part Time)</span></h3>
                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
            </div><!--//item-->
            <div class="item">
                <h3 class="title">Student Assistant - <span class="place"><a href="http://chemistry.berkeley.edu/" target="_blank">College of Chemistry</a></span> <span class="year">(Aug 2013 - Sep 2014)</span></h3>
                <p>Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
            </div><!--//item-->

        </div><!--//content-->
    </div><!--//section-inner-->
</section>  <!--//section-->
