<!DOCTYPE html>
<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="../static/images/my_profile.png" width="180" height="180" alt="Evan Pellegrini" />
        <div class="profile-content pull-left">
            <h1 class="name">Evan Pellegrini</h1>
            <h2 class="desc">Student</h2>
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/evan-pellegrini-840a96b1?trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/evanpelle" target="_blank"><i class="fa fa-github-alt"></i></a></li>
            </ul>
        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="../static/images/evan_pellegrini_resume.pdf" target="_blank"><i class="fa fa-paper-plane"></i> View Resume</a>
    </div><!--//container-->
</header><!--//header-->


<!--resume link google maps-->
<!--https://docs.google.com/document/d/10Hh_VVAlDgft9jcAFzMVjkYZwuA0fYzKgDS5aDyzbkg/edit?usp=sharing-->